<a href='#businesses/<%= business.id %>'><img src="<%= business.get('image_source')%>" width='75' height='50'></img>
	<%= business.get('title') %></a>
	<p><%= business.get('description') %></p>
	<button class='subscribe-toggle'
		data-business-id='<%= business.id %>'><%= button_val %></button>