<!DOCTYPE html>
<html>
<head>
  <title>Greedly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if logged_in? %>
	<div class='disabling'>
	<nav class="navbar navbar-default clearfix" role='navigation'>
		<div class='container'>
			<div class='navbar-header'>
				<span class='navbar-brand'><a href = ''><%= image_tag 'Greedly-logo.png', style: "height: 100%" %></a></span>
			</div>
			<div class='collapse navbar-collapse'>
				<span class='navbar navbar-middle'>
					<form id="search-form">
				        <input id='bus-search' name="business" placeholder='Search for business feeds'>
				        <input class='btn btn-primary' value="Search" type="submit" />
						
				    </form>
				</span>
				<span class='navbar navbar-middle'>
					<a href='https://github.com/finneysm7' class='btn btn-primary' target='_blank'>About the Author</a>
				</span>
				<span class='navbar navbar-right clearfix'>
				<div class='username'>Signed in as <%= current_user.email %></div>
				<form method="post" action="<%= session_url%>" class="button_to">
					<input type='hidden'
					name='authenticity_token'
					value='<%= form_authenticity_token %>'>
			        <input type="hidden" name="_method" value="delete" />
			        <input class='btn btn-primary' value="Sign Out" type="submit" />
			    </form></span>
			</div>
		</div>
	</nav>
	</div>
	<% end %>
<%= yield %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60024866-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
<script>
	var _currentUserJSON = <%= current_user.to_json.html_safe %>
</script>
</html>
