<!DOCTYPE html>
<html>
<head>
  <title>Greedly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if logged_in? %>
	<nav class="navbar navbar-default clearfix" role='navigation'>
		<div class='container'>
			<div class='navbar-header'>
				<span class='navbar-brand'><%= image_tag 'Greedly-logo.png', style: "height: 100%" %></span>
			</div>
			<div class='collapse navbar-collapse'>
				<span class='navbar navbar-middle'>
					<form id="search-form">
					        <input id='bus-search' name="business" placeholder='Search for business feeds'>
					        <input class='btn btn-primary' value="Search" type="submit" />
					    </form>
					
				</span>
				<span class='navbar navbar-right clearfix'>
				<div class='username'>Hello <%= current_user.email %></div>
				<form method="post" action="<%= session_url%>" class="button_to">
					<input type='hidden'
					name='authenticity_token'
					value='<%= form_authenticity_token %>'>
			        <input type="hidden" name="_method" value="delete" />
			        <input class='btn btn-primary' value="Sign Out" type="submit" />
			    </form></span>
			</div>
		</div>
	</nav>
	<% end %>
<%= yield %>

</body>
<script>
	var _currentUserJSON = <%= current_user.to_json.html_safe %>
</script>
</html>
