<!DOCTYPE html>
<html>
<head>
  <title>Greedly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:errors] %>
		<%= flash[:errors]%>
	<% end %>
	<% if logged_in? %>
	  <%= current_user.email %>
	  <%= button_to "Sign Out", session_url, :method => :delete %>
	<% end %>
<%= yield %>

</body>
</html>
