<!DOCTYPE html>
<html>
<head>
  <title>Greedly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if logged_in? %>
	<nav class="navbar navbar-default" role='navigation'>
		<div class='container'>
			<div class='navbar-header'>
				<span class='navbar-brand'>Hello <%= current_user.email %></span>
			</div>
			<div class='collapse navbar-collapse'>
				<span class='navbar navbar-right'><%= button_to "Sign Out", session_url, :method => :delete %></span>
			</div>
		</div>
	</nav>
	<% end %>
<%= yield %>

</body>
</html>
